.payment-method-management-container {
    width: 100vw;
    margin-top: 0;
    margin-left: 55px;
    font-family: 'Open Sans', sans-serif;
    .breadcrumb {
        color: white;
    }

    padding-bottom: 20px;
    min-height: 100vh;
}

.payment-method-management-container:hover {
    box-shadow: none;
    transform: translateY(0);
}

.payment-method-management-container .title {
    text-align: left;
    margin: 20px 0 0 0;

    .name {
        font-weight: bold;
        font-size: 2rem;
    }

    .description {
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.7);
    }
}

.payment-method-management-container .body .category-name {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 50px 0 0 0;
    text-align: left;
}

.pm-category-container {
    margin-bottom: 100px;
}

.body .add-payment-method-btn {
    margin: 30px 0 0 80%;
    padding: 10px 50px;
    background: orange;
}

.pm-category-container .category-wrapper {
    padding: 20px 60px 20px 0;
    margin: 20px 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.51);
}

.pm-category-container .summary {
    display: flex;

    .expand-icon {
        width: 15px;
        height: 15px;
        margin-top: 10px;
    }

    .expand { /* This class would be conditionally added using JS */
        transform: rotate(90deg);
    }

    .item-icon {
        width: 50px;
        height: 50px;
        margin: -5px 0 0 20px;
    }

    .item-info {
        margin: -10px 0 0 20px;
        text-align: left;
        width: 140%;

        .item-name {
            font-weight: bold;
            font-size: 1.1rem;
        }

        .item-id {
            font-size: 0.85rem;
            margin-top: -5px;
        }
    }

    .item-status {
        display: flex;
        width: 20%;

        img {
            width: 25px;
            height: 25px;
            margin-top: 10px;
        }

        .status {
            font-size: 0.9rem;
            font-weight: bold;
            margin: 15px 0 0 7px;
        }
    }
}

.pm-category-container .summary:hover {
    cursor: pointer;
}

.pm-category-container .item-details {
    display: flex;
    margin-top: 20px;
}

.pm-category-container .item-details .details-info, .pm-category-container .item-details .crud-btns {
    width: 50%;
}

.item-details .details-info {
    text-align: left;
    padding: 0 10px 0 35px;
    border-right: 1px white solid;
}

.details-info .properties {
    font-size: 0.9rem;

    p, span {
        color: rgba(255, 255, 255, 0.8);
    }
}

.item-details .property {
    display: flex;
    margin-top: 5px;

    .label {
        width: 30%;
    }

    .description {
        width: 50%;
        text-align: left;
    }
}

.item-details .properties .metadata {
    display: block;
    margin-top: -35px;
    button {
        width: 43%;
        height: 40px;
        background: none;
    }

    img {
        margin-top: 25px;
        width: 10px;
        height: 10px;
    }

    .metadata-property-wrapper {
        margin-left: 50px;
    }
}

.item-details .properties .metadata .title {
    .metadata-expand { /* This class would be conditionally added using JS */
        transform: rotate(90deg);
    }
}

.item-details .properties .metadata .title:hover {
    cursor: pointer;
}

.crud-btns {
    padding-left: 50px;
    margin-top: 20px;
    .btn-wrapper {
        display: flex;
        height: 60px;
        .description {
            margin-top: 10px;
            width: 50%;
            text-align: left;
        }

        button {
            width: 20%;
            margin-left: 50px;
        }
    }
}

.btn-wrapper {
    .activate-btn {
        background: green none;
    }

    .deactivate-btn {
        background: rebeccapurple none;
    }

    .update-btn {
        background: #3498db none;
    }

    .delete-btn {
        background: red none;
    }

    .warning-text {
        font-size: 1.2rem;
        font-weight: bold;
        color: orangered;
    }
}

.loading-wrapper {
    display: flex;
    margin-top: 50px;

    p {
        font-size: 1.2rem;
    }

    .spinner {
        width: 20px;
        height: 20px;
        margin: 5px 0 0 10px;
    }
}
